*{
  margin: 0;
  padding: 0;
}
.banner {
  padding: 0vw 2vw 0vw 2vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.75vw;
  color: #f1faee;
  background-color: #1d3557;
  border-radius: 5px;
}
.exhibit {
  float: left;
  margin: 0.5vw;
  padding: 0vw 2vw 0vw 2vw;
  text-align: center;
  color: #1d3557;
  background-color: #a8dadc;
  border: 1px solid #457b9d;
  border-radius: 10px;
}

.exhibit-heading {
  font-weight: bold;
  font-size: 1.5vw;
}

.exhibit-cont {
  margin: 0.5vw;
  padding: 1vw 1vw 1vw 1vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.75vw;
  color: #002933;
  background-color: #80e5ff;

  border-radius: 5px;
}